# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node.js
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Docker
docker-compose.yml

# Misc
.DS_Store

nginx.conf
